log4j.rootLogger=DEBUG, A1, rollingFile

log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%d %-5p [%-20t] || %m%n

log4j.appender.rollingFile=org.apache.log4j.RollingFileAppender
log4j.appender.rollingFile.File= ./${file.name}
log4j.appender.rollingFile.MaxFileSize=20MB
log4j.appender.rollingFile.MaxBackupIndex=2
log4j.appender.rollingFile.layout = org.apache.log4j.PatternLayout
log4j.appender.rollingFile.layout.ConversionPattern=%d %-5p [%-20t] || %m%n

log4j.logger.org.apache.activemq=ERROR
log4j.logger.org.apache.mina=ERROR
log4j.logger.org.apache.mina.filter.logging.LoggingFilter.log=INFO

log4j.logger.org.apache.http=ERROR